<h1>貸出中図書一覧</h1>

<hr>

<% if @rentals.any? %>
<table class="table table-bordered table-hover">
  <thead>
     <tr class="info"><th>#</th><th>タイトル</th><th>貸出日時</th></tr>
  </thead>
  <tbody>
    <% @rentals.each_with_index do |r, i| %>
    <tr>
    <td><%= i+1 %></td>
    <td><%= r.book.title %></td>
    <td><%= r.rental_date.in_time_zone('Tokyo') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h4>貸出中の本はありません。</h4>
<% end %>
